/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
        /* ==========================================================================
       Base Styles
       ========================================================================== */
       

        .container{
            width: 80%;
            margin: 0 auto;
        }

        .hvr-overline-reveal:before{
            background: #D46C76;
        }
        
        #fixed-up{
          position: fixed;
          right:40px;
          bottom: 25px;
          padding: 10px 15px;
          color: white;
          background-color: #D46C76;
          border: none;
          border-radius: none;
          z-index: 100;

        }
        /* ==========================================================================
           /Base Styles
           ========================================================================== */
 
    /* ==========================================================================
       Header Start
       ========================================================================== */
        
       #header{
        
        width: 100%;
        background-image:url(http://wp.magnium-themes.com/armonioso/armonioso-2/wp-content/uploads/2016/02/header-back-armonioso.jpg);
        background-size: fill;
        background-position: center center;
        position: relative;
        padding-bottom: 10px;
       }
       #header-brand{
        text-align: center;
               
        }
     
      #header-brand span{
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;
      }

      #header-brand h5{
        font-family: 'Kaushan Script', cursive;
        margin-top: 0px;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }


       #navbar-container{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: none;
       }
       .container-fluid{
          width: 100%;
          font-family: 'Merriweather', serif;
          
          }
       
       .navbar{
        margin-bottom: 0px;
       }
        
       #header nav{
        padding-top: 20px;
        border: none;
        border-radius: 0px;
        border-top: 0.5px solid grey;
        background: transparent; 
       } 

       #dropdown-align{
        text-align: center;
        width: 100%;
       }
     
       
       
        /* Dropdown Button */
            
            .dropbtn {
                background: transparent;
                color: black;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                letter-spacing: 1px;
                font-weight: lighter;
                margin: 0 10px;
            }

            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
            }

            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;

                background-color: #D46C76;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {background-color: #E1989F}

            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {
                display: block;
                z-index: 10;

            }

            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {
                color: #D46C76;

            }


    /* ==========================================================================
       Header End
       ========================================================================== */

/* ==========================================================================
       Carousel Start
       ========================================================================== */

   .abc img{
    width: 100%;
    height:500px;
   }
   
    #main-car{
      position: relative;
    }

      .overlay{
        position: absolute;
        bottom :0px;
        width: 100%;
        text-align: left;
        background: rgba(0,0,0,0.5);

        
      }

      .overlay button{
        background-color: #D46C76;
        border-radius: 0;
        border: none;
        position: absolute;
        left: 0;
      }
     
      .overlay h3{
        font-family: 'Kaushan Script', cursive;
        color: white;

      }

            .overlay h5{
        font-weight: bold;
        color: white;
      }

      .overlay h4 {
        display: none;
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 14px;
        letter-spacing: 1px;
      } 
       
       .overlay .views {
        color: white;
        position: absolute;
        right: 0;

       } 
        
        .overlay .views i {
           margin : 0 5px;
        }

       .overlay .container{
        width: 95%;
        padding-top: 10px;
       }

      .date-views{
        position: relative;
        padding-bottom: 20px;
              }
/* ==========================================================================
        Carousel End
       ========================================================================== */
       
       /* ==========================================================================
       Welcome Start
       ========================================================================== */
        #welcomeImgContainer{
    position: relative;
    height: 250px;

  } 
    #welcome{
        padding-top: 20px;
        padding-bottom: 20px;
        background :rgba(0, 0, 0, 0.2); 
    }
    #welbg{
        height: 100%;
        width: 100%;
    }
    #welbg img{
        height: 100%;
        width: 100%;
        opacity: 0.8;
    }

    #xyz p{
            font-family: 'Merriweather', serif;
            font-size: 9px;
            
            color: #E9E5E7;
            letter-spacing: 1px; 
    }
    #xyz h3{
        font-family: 'Kaushan Script', cursive;
        font-size: 20px;
        margin-top : 5px;
        margin-bottom: 40px;
    }

    #xyz span {
        
        border: 2px solid white;
        padding: 10px 25px;
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 11px;

    }
  

  #xyz{
    height: 100%;
    width: 100%;
    position: absolute;
    background :rgba(0, 0, 0, 0.6);
    top: 0;
    left:0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
  }

   /* ==========================================================================
       Welcome End
       ========================================================================== */


   #main-body{
    padding-top: 30px;
}

   #main-body .form-control{
    width: 80%;
    text-align: center;
    margin : 0 auto;
    }

  #main-body #xyz{
    padding-top: 20px;
  }
  #main-body #xyz button{
    width: 80%;
    margin-top: 5px;
    font-family: 'Merriweather', serif;
    background-color: #D46C76;
    border: none;
    border-radius: none;
    color: white;
    font-size: 12px;
  }

/* ==========================================================================
   Footer Start
   ========================================================================== */
   #footer{
    background-color:#732E35;
    color: white;
   }
   #footer-menu{
    padding-top : 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
   } 

   #footer-menu a{
      color: white;
      font-weight: bold;
      font-size: 12px;
      margin-right: 20px;
      font-weight: lighter;
      font-family: 'Merriweather', serif;
     } 

     #footer-bottom{
      padding-top: 20px;
      padding-bottom: 40px;
      color: white;
      position: relative;
      width: 100%;
     }
     
     #footer-bottom #brand{
      font-size: 25px;
      font-family: 'Merriweather', serif;
      margin-right: 100px;
      letter-spacing: 3px;
      font-weight: lighter;
     }

     #footer-social{
      position: absolute;
      top:20px;
      right: 0px;
      color: white;
     }

     #poweredby{
      color: rgba(255,255,255,0.4);
     }

/* ==========================================================================
   Footer End
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */

 #navbar-container{
    display: block;
 }

 #header-brand{
   padding-top: 50px; 
 }

 #header{
        background-size: cover;
        height: 300px;
    }

#header-brand span{
   font-size : 65px;

 }







}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
