/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 22px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: $primary-font;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /* Dropdown Content (Hidden by Default) */
    &-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                
                a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                font-family: $primary-font;
                display: block;
                }
             }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: lighten($primary-color,10);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background: $primary-color;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: $primary-color;
}


