.abc img{
width: 100%;
height:500px;
}

#main-car{
position: relative;
}
.overlay{
position: absolute;
bottom :0px;
width: 100%;
text-align: left;
background: rgba(0,0,0,0.5);

button{
background-color: #D46C76;
border-radius: 0;
border: none;
position: absolute;
left: 0;
}

h3{
font-family: $secondary-font;
color: white;
}
h5{
font-weight: bold;
color: white;
}
h4 {
display: none;
color: white;
font-family: 'Merriweather', serif;
font-size: 14px;
letter-spacing: 1px;
}
}

.overlay .views {
color: white;
position: absolute;
right: 0;


i {
margin : 0 5px;

}
}
.overlay .container{
width: 95%;
padding-top: 10px;
}
.date-views{
position: relative;
padding-bottom: 20px;
}